## 0. 환경설정 및 파일 불러오기

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# 시각화 관련
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
from collections import Counter
from PIL import Image
from matplotlib import rc

# 그래프에서 한글 폰트 깨지는 문제에 대한 대처(전역 글꼴 설정)
import matplotlib.font_manager as fm
import warnings
warnings.filterwarnings(action='ignore') 

import matplotlib
matplotlib.rcParams['font.family'] ='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus'] =False

In [10]:
df = pd.read_csv('data/[221102]최종집계 (1).csv')
df.head()

,Unnamed: 0,자치구,행정동,불안전성지표,접근성지표,비환경지표,상업지표,주거지표,문화지표,학교지표,쾌적성지표,상업 집계 결과_25,상업 집계 결과_30,거주 집계 결과_25,거주 집계 결과_30,문화 집계 결과_25,문화 집계 결과_30,학교 집계 결과_25,학교 집계 결과_30
0,0,강남구,신사동,0.803214,0.190622,0.410824,0.385027,0.295505,0.122344,0.129746,0.422136,60.517884,62.443017,59.195693,60.673218,52.300484,52.912205,56.361834,57.010564
1,1,강남구,삼성2동,0.803214,0.172469,0.223742,0.254874,0.504201,0.103986,0.108686,0.429221,54.652150,55.926518,61.183794,63.704802,49.111604,49.631532,52.961585,53.505014
2,2,강남구,도곡2동,0.803214,0.157665,0.187969,0.246147,0.498438,0.021014,0.188475,0.386919,52.394284,53.625019,59.037863,61.530056,44.957699,45.062767,53.087759,54.030133
3,3,강남구,도곡1동,0.803214,0.160310,0.296284,0.238506,0.364411,0.011785,0.205446,0.406961,54.263432,55.455960,58.049690,59.871745,46.832576,46.891501,55.626915,56.654145
4,4,강남구,역삼2동,0.803214,0.130481,0.268705,0.263553,0.611094,0.038454,0.183520,0.406645,53.880400,55.198166,63.180360,66.235832,46.410503,46.602773,54.086074,55.003673

## 1. 상업
* 25: 역삼1동, 여의동, 삼성1동, 논현1동, 신사동
* 30: 역삼1동, 여의동, 삼성1동, 서교동, 논현1동

In [11]:
상업25 = df.copy()
상업25 = 상업25.sort_values(by = ['상업 집계 결과_25'],ascending = False)
상업25.head()

,Unnamed: 0,자치구,행정동,불안전성지표,접근성지표,비환경지표,상업지표,주거지표,문화지표,학교지표,쾌적성지표,상업 집계 결과_25,상업 집계 결과_30,거주 집계 결과_25,거주 집계 결과_30,문화 집계 결과_25,문화 집계 결과_30,학교 집계 결과_25,학교 집계 결과_30
5,5,강남구,역삼1동,0.803214,0.388223,0.266392,0.694602,0.734675,0.174835,0.080555,0.504825,73.083951,76.556960,73.827772,77.501147,58.819616,59.693792,59.020476,59.423249
31,31,영등포구,여의동,0.627630,0.733603,0.248907,0.443395,0.652628,0.193149,0.379309,0.492557,67.316736,69.533710,71.243697,74.506838,61.054315,62.020058,65.552203,67.448750
8,8,강남구,삼성1동,0.803214,0.227524,0.340653,0.421421,0.276169,0.245698,0.145974,0.428127,61.486862,63.593966,58.433663,59.814506,55.499047,56.727536,56.634428,57.364299
13,13,강남구,논현1동,0.803214,0.230065,0.287607,0.386705,0.415821,0.082598,0.048260,0.446121,60.518413,62.451940,61.584490,63.663596,51.302009,51.714998,53.929397,54.170696
0,0,강남구,신사동,0.803214,0.190622,0.410824,0.385027,0.295505,0.122344,0.129746,0.422136,60.517884,62.443017,59.195693,60.673218,52.300484,52.912205,56.361834,57.010564

In [12]:
상업30 = df.copy()
상업30 = 상업30.sort_values(by = ['상업 집계 결과_30'],ascending = False)
상업30.head()

,Unnamed: 0,자치구,행정동,불안전성지표,접근성지표,비환경지표,상업지표,주거지표,문화지표,학교지표,쾌적성지표,상업 집계 결과_25,상업 집계 결과_30,거주 집계 결과_25,거주 집계 결과_30,문화 집계 결과_25,문화 집계 결과_30,학교 집계 결과_25,학교 집계 결과_30
5,5,강남구,역삼1동,0.803214,0.388223,0.266392,0.694602,0.734675,0.174835,0.080555,0.504825,73.083951,76.556960,73.827772,77.501147,58.819616,59.693792,59.020476,59.423249
31,31,영등포구,여의동,0.627630,0.733603,0.248907,0.443395,0.652628,0.193149,0.379309,0.492557,67.316736,69.533710,71.243697,74.506838,61.054315,62.020058,65.552203,67.448750
8,8,강남구,삼성1동,0.803214,0.227524,0.340653,0.421421,0.276169,0.245698,0.145974,0.428127,61.486862,63.593966,58.433663,59.814506,55.499047,56.727536,56.634428,57.364299
162,162,마포구,서교동,0.324897,0.677007,0.194986,0.582979,0.534242,0.446663,0.153367,0.576077,60.470704,63.385599,57.184932,59.856142,57.705486,59.938802,47.726808,48.493641
13,13,강남구,논현1동,0.803214,0.230065,0.287607,0.386705,0.415821,0.082598,0.048260,0.446121,60.518413,62.451940,61.584490,63.663596,51.302009,51.714998,53.929397,54.170696

## 2. 주거
* 25: 역삼1동, 여의동, 세곡동, 대치2동, 청담동
* 30: 역삼1동, 여의동, 세곡동, 대치2동, 역삼2동

In [13]:
주거25 = df.copy()
주거25 = 주거25.sort_values(by = ['거주 집계 결과_25'],ascending = False)
주거25.head()

,Unnamed: 0,자치구,행정동,불안전성지표,접근성지표,비환경지표,상업지표,주거지표,문화지표,학교지표,쾌적성지표,상업 집계 결과_25,상업 집계 결과_30,거주 집계 결과_25,거주 집계 결과_30,문화 집계 결과_25,문화 집계 결과_30,학교 집계 결과_25,학교 집계 결과_30
5,5,강남구,역삼1동,0.803214,0.388223,0.266392,0.694602,0.734675,0.174835,0.080555,0.504825,73.083951,76.556960,73.827772,77.501147,58.819616,59.693792,59.020476,59.423249
31,31,영등포구,여의동,0.627630,0.733603,0.248907,0.443395,0.652628,0.193149,0.379309,0.492557,67.316736,69.533710,71.243697,74.506838,61.054315,62.020058,65.552203,67.448750
21,21,강남구,세곡동,0.803214,0.259303,0.257605,0.123849,0.652259,0.014883,0.479265,0.435429,53.868058,54.487303,67.282223,70.543516,49.587595,49.662013,64.580142,66.976468
15,15,강남구,대치2동,0.803214,0.279618,0.319328,0.310778,0.587559,0.075737,0.217084,0.414798,59.167726,60.721614,66.518244,69.456039,51.810913,52.189595,58.796802,59.882220
10,10,강남구,청담동,0.803214,0.209283,0.364824,0.330998,0.469644,0.067297,0.284237,0.448819,59.762876,61.417867,63.867374,66.215596,51.539184,51.875669,60.599067,62.020250

In [14]:
주거30 = df.copy()
주거30 = 주거30.sort_values(by = ['거주 집계 결과_30'],ascending = False)
주거30.head()

,Unnamed: 0,자치구,행정동,불안전성지표,접근성지표,비환경지표,상업지표,주거지표,문화지표,학교지표,쾌적성지표,상업 집계 결과_25,상업 집계 결과_30,거주 집계 결과_25,거주 집계 결과_30,문화 집계 결과_25,문화 집계 결과_30,학교 집계 결과_25,학교 집계 결과_30
5,5,강남구,역삼1동,0.803214,0.388223,0.266392,0.694602,0.734675,0.174835,0.080555,0.504825,73.083951,76.556960,73.827772,77.501147,58.819616,59.693792,59.020476,59.423249
31,31,영등포구,여의동,0.627630,0.733603,0.248907,0.443395,0.652628,0.193149,0.379309,0.492557,67.316736,69.533710,71.243697,74.506838,61.054315,62.020058,65.552203,67.448750
21,21,강남구,세곡동,0.803214,0.259303,0.257605,0.123849,0.652259,0.014883,0.479265,0.435429,53.868058,54.487303,67.282223,70.543516,49.587595,49.662013,64.580142,66.976468
15,15,강남구,대치2동,0.803214,0.279618,0.319328,0.310778,0.587559,0.075737,0.217084,0.414798,59.167726,60.721614,66.518244,69.456039,51.810913,52.189595,58.796802,59.882220
4,4,강남구,역삼2동,0.803214,0.130481,0.268705,0.263553,0.611094,0.038454,0.183520,0.406645,53.880400,55.198166,63.180360,66.235832,46.410503,46.602773,54.086074,55.003673

## 3. 학교
* 25: 여의동, 세곡동, 수서동, 청담동, 역삼1동
* 30: 여의동, 세곡동, 수서동, 청담동, 대치2동

In [15]:
학교25 = df.copy()
학교25 = 학교25.sort_values(by = ['학교 집계 결과_25'],ascending = False)
학교25.head()

,Unnamed: 0,자치구,행정동,불안전성지표,접근성지표,비환경지표,상업지표,주거지표,문화지표,학교지표,쾌적성지표,상업 집계 결과_25,상업 집계 결과_30,거주 집계 결과_25,거주 집계 결과_30,문화 집계 결과_25,문화 집계 결과_30,학교 집계 결과_25,학교 집계 결과_30
31,31,영등포구,여의동,0.627630,0.733603,0.248907,0.443395,0.652628,0.193149,0.379309,0.492557,67.316736,69.533710,71.243697,74.506838,61.054315,62.020058,65.552203,67.448750
21,21,강남구,세곡동,0.803214,0.259303,0.257605,0.123849,0.652259,0.014883,0.479265,0.435429,53.868058,54.487303,67.282223,70.543516,49.587595,49.662013,64.580142,66.976468
18,18,강남구,수서동,0.803214,0.215467,0.348044,0.265559,0.297176,0.009669,0.361151,0.387203,56.211714,57.539507,57.754677,59.240555,48.203141,48.251484,60.855562,62.661317
10,10,강남구,청담동,0.803214,0.209283,0.364824,0.330998,0.469644,0.067297,0.284237,0.448819,59.762876,61.417867,63.867374,66.215596,51.539184,51.875669,60.599067,62.020250
5,5,강남구,역삼1동,0.803214,0.388223,0.266392,0.694602,0.734675,0.174835,0.080555,0.504825,73.083951,76.556960,73.827772,77.501147,58.819616,59.693792,59.020476,59.423249

In [16]:
학교30 = df.copy()
학교30 = 학교30.sort_values(by = ['학교 집계 결과_30'],ascending = False)
학교30.head()

,Unnamed: 0,자치구,행정동,불안전성지표,접근성지표,비환경지표,상업지표,주거지표,문화지표,학교지표,쾌적성지표,상업 집계 결과_25,상업 집계 결과_30,거주 집계 결과_25,거주 집계 결과_30,문화 집계 결과_25,문화 집계 결과_30,학교 집계 결과_25,학교 집계 결과_30
31,31,영등포구,여의동,0.627630,0.733603,0.248907,0.443395,0.652628,0.193149,0.379309,0.492557,67.316736,69.533710,71.243697,74.506838,61.054315,62.020058,65.552203,67.448750
21,21,강남구,세곡동,0.803214,0.259303,0.257605,0.123849,0.652259,0.014883,0.479265,0.435429,53.868058,54.487303,67.282223,70.543516,49.587595,49.662013,64.580142,66.976468
18,18,강남구,수서동,0.803214,0.215467,0.348044,0.265559,0.297176,0.009669,0.361151,0.387203,56.211714,57.539507,57.754677,59.240555,48.203141,48.251484,60.855562,62.661317
10,10,강남구,청담동,0.803214,0.209283,0.364824,0.330998,0.469644,0.067297,0.284237,0.448819,59.762876,61.417867,63.867374,66.215596,51.539184,51.875669,60.599067,62.020250
15,15,강남구,대치2동,0.803214,0.279618,0.319328,0.310778,0.587559,0.075737,0.217084,0.414798,59.167726,60.721614,66.518244,69.456039,51.810913,52.189595,58.796802,59.882220

## 4. 문화
* 25: 여의동, 역삼1동, 종로1.2.3.4가동, 서교동, 삼성1동
* 30: 종로1.2.3.4가동, 여의동, 서교동, 역삼1동, 삼성1동

In [17]:
문화25 = df.copy()
문화25 = 문화25.sort_values(by = ['문화 집계 결과_25'],ascending = False)
문화25.head()

,Unnamed: 0,자치구,행정동,불안전성지표,접근성지표,비환경지표,상업지표,주거지표,문화지표,학교지표,쾌적성지표,상업 집계 결과_25,상업 집계 결과_30,거주 집계 결과_25,거주 집계 결과_30,문화 집계 결과_25,문화 집계 결과_30,학교 집계 결과_25,학교 집계 결과_30
31,31,영등포구,여의동,0.627630,0.733603,0.248907,0.443395,0.652628,0.193149,0.379309,0.492557,67.316736,69.533710,71.243697,74.506838,61.054315,62.020058,65.552203,67.448750
5,5,강남구,역삼1동,0.803214,0.388223,0.266392,0.694602,0.734675,0.174835,0.080555,0.504825,73.083951,76.556960,73.827772,77.501147,58.819616,59.693792,59.020476,59.423249
114,114,종로구,종로1.2.3.4가동,0.354463,0.488368,0.577638,0.598236,0.239354,0.792117,0.128962,0.260132,53.451710,56.442888,45.120523,46.317292,58.643973,62.604559,42.189760,42.834569
162,162,마포구,서교동,0.324897,0.677007,0.194986,0.582979,0.534242,0.446663,0.153367,0.576077,60.470704,63.385599,57.184932,59.856142,57.705486,59.938802,47.726808,48.493641
8,8,강남구,삼성1동,0.803214,0.227524,0.340653,0.421421,0.276169,0.245698,0.145974,0.428127,61.486862,63.593966,58.433663,59.814506,55.499047,56.727536,56.634428,57.364299

In [18]:
문화30 = df.copy()
문화30 = 문화30.sort_values(by = ['문화 집계 결과_30'],ascending = False)
문화30.head()

,Unnamed: 0,자치구,행정동,불안전성지표,접근성지표,비환경지표,상업지표,주거지표,문화지표,학교지표,쾌적성지표,상업 집계 결과_25,상업 집계 결과_30,거주 집계 결과_25,거주 집계 결과_30,문화 집계 결과_25,문화 집계 결과_30,학교 집계 결과_25,학교 집계 결과_30
114,114,종로구,종로1.2.3.4가동,0.354463,0.488368,0.577638,0.598236,0.239354,0.792117,0.128962,0.260132,53.451710,56.442888,45.120523,46.317292,58.643973,62.604559,42.189760,42.834569
31,31,영등포구,여의동,0.627630,0.733603,0.248907,0.443395,0.652628,0.193149,0.379309,0.492557,67.316736,69.533710,71.243697,74.506838,61.054315,62.020058,65.552203,67.448750
162,162,마포구,서교동,0.324897,0.677007,0.194986,0.582979,0.534242,0.446663,0.153367,0.576077,60.470704,63.385599,57.184932,59.856142,57.705486,59.938802,47.726808,48.493641
5,5,강남구,역삼1동,0.803214,0.388223,0.266392,0.694602,0.734675,0.174835,0.080555,0.504825,73.083951,76.556960,73.827772,77.501147,58.819616,59.693792,59.020476,59.423249
8,8,강남구,삼성1동,0.803214,0.227524,0.340653,0.421421,0.276169,0.245698,0.145974,0.428127,61.486862,63.593966,58.433663,59.814506,55.499047,56.727536,56.634428,57.364299